@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Cormorant");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand";
}

.home-logo {
    width: 180px;
    height: 100px;
}

input[type=text] {
    height: 3em;
    max-width: 18em;
    border-radius: 2%;
}
input[type=text]:focus {
    border: 0.18em solid black;
}

.navbar-container {
    background-color: #FCE3B6;   
    filter: drop-shadow(0px 4px 4px #9b3d0b);
}

.navbar {
    height: 12em;
    display: block;
    align-items: center;
    justify-content: center; 
    padding: 2em;
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-top-left {
    display: flex; 
    align-items: center;
}
.navbar-top-left > h2 {
    font-size: 230%;
    font-family: "Cormorant";
    color: #C34C25;
    text-decoration: overline;
}

.navbar-top-right {
    display: flex;
    gap: 1.5em;
    font-size: 1.3em;
    align-items: center;
}

.navlinks {
    position: static;
    color: rgb(54, 77, 5);
    font-size: 120%;
    background-color: #F2A65A;
    padding: 5px;
    border-radius: 10%;
    text-decoration: none;
}

.navlinks:hover {
    text-decoration: underline;
    background: #e98d46;
    transition: 0.5s;
}

.navbar-bottom {
    display: flex;
    gap: 6em;
    padding: 0em 0em 0em  1.8em;
    justify-content: space-around;
}

.recipes {
     text-decoration: none;
     color: #e98d46;
     font-size: 140%;
     font-weight: bolder;
     text-shadow: #a524d0 1px 1px 1px;
}

.recipes:hover{
    text-decoration: underline;
    font-weight: bolder;
    filter: drop-shadow(2px 4px 8px #d5bded);
}

